.advantage-city {
  padding: 23px 18px 52px 65px;
  text-transform: uppercase;
}

.advantage-city__title {
  margin: 0;
  margin-bottom: 11px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.advantage-city__description {
  margin: 0;
}
