@use "../base.scss";

.approve {
  text-align: center;
}
.approve__header {
  padding: 39px 39px 30px 37px;
}

.approve__footer {
  padding: 20px;
  background-color: variables.$secondary-color;
}

.approve__button {
  padding: 18px 62px 14px;
  width: 100%;
}
