.button {
  display: block;
  font-family: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: variables.$color-text-accent;
  background-color: variables.$primary-color;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.button--search {
  padding: 16px 49px;
}

.button--form {
  padding: 18px 34px 14px 32px;
}
