.heading {
  text-transform: uppercase;
  text-align: center;
}

.heading__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 35px;
}

.heading__intro {
  margin: 0;
}
