.hero {
  background-image: url("../img/hero-background.jpg");
  background-color: #3f5e72;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 90px 19px 85px;
}

.hero__image {
  display: block;
}
