.main-footer {
  padding: 28px 18px 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-footer__hashtag {
  margin-bottom: 34px;
}

.main-footer__social {
  margin: 0;
  margin-bottom: 40px;
}
