@use "../globals/variables.scss";
@use "../globals/mixins.scss";

.advantage-city {
  padding-top: 8px;
  padding-left: 47px;
  text-transform: uppercase;

  @include mixins.tablet {
    padding-top: 100px;
    padding-left: 0;
    text-align: center;
  }
}

.advantage-city--house {
  background-image: url("../../img/icon-house.svg");
  background-repeat: no-repeat;
  background-position: top 2px left;

  @include mixins.tablet {
    background-position: top center;
    background-size: 75px 72px;
  }
}

.advantage-city--food {
  padding-left: 51px;
  background-image: url("../../img/icon-food.svg");
  background-repeat: no-repeat;
  background-position: top 2px left;

  @include mixins.tablet {
    padding-left: 0;
    background-position: top center;
    background-size: 76px 68px;
  }
}

.advantage-city--souvenir {
  padding-left: 44px;
  background-image: url("../../img/icon-souvenir.svg");
  background-repeat: no-repeat;
  background-position: top left 4px;

  @include mixins.tablet {
    padding-left: 0;
    background-position: top center;
    background-size: 64px 75px;
  }

  br {
    display: none;

    @include mixins.desktop {
      display: block;
    }
  }
}

.advantage-city__title {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  @include mixins.tablet {
    margin-bottom: 20px;
    font-size: 21px;
  }
}

.advantage-city__description {
  margin: 0;
}
