@use "../globals/variables.scss";
@use "../globals/mixins.scss";

.hero {
  position: relative;
  padding-top: 52px;
  min-height: 158px;
  background-image: url("../img/hero-bg.jpg");
  background-color: #3f5e72;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  text-align: center;

  @include mixins.retina {
    background-image: url("../img/hero-bg@2x.jpg");
    background-size: 320px auto;
  }

  @include mixins.tablet {
    padding-top: 95px;
    min-height: 290px;
    background-image: url("../img/hero-bg-tablet.jpg");

    @include mixins.retina {
      background-image: url("../img/hero-bg-tablet@2x.jpg");
      background-size: 768px auto;
    }
  }

  @include mixins.desktop {
    min-height: 300px;
    padding-top: 104px;
    background-image: url("../img/hero-bg-desktop.jpg");

    @include mixins.retina {
      background-image: url("../img/hero-bg-desktop@2x.jpg");
      background-size: 1200px auto;
    }
  }
}

.hero::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 57px;
  background-image: url("../img/hero-triangle.svg");
  background-repeat: no-repeat;
  background-position: center;
  left: 0;
  bottom: 0;
}

.hero--main {
  padding-top: 90px;
  min-height: 389px;

  @include mixins.tablet {
    padding-top: 77px;
    min-height: 518px;
  }

  @include mixins.desktop {
    padding-top: 78px;
  }
}

.hero__image {
  display: block;
  margin: 0 auto;

  @include mixins.tablet {
    width: 457px;
    height: 78px;
  }
}

.hero__image--main {
  @include mixins.tablet {
    width: 460px;
    height: 350px;
  }
}
