@use "../globals/variables.scss";
@use "../globals/mixins.scss";
.hero {
  background-image: url("../img/hero-background.jpg");
  background-color: #3f5e72;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-position: bottom center;
  text-align: center;
  padding-top: 90px;

  @include mixins.tablet {
    padding-top: 77px;
  }
}
.hero::after {
  content: "";
  background-image: url("../img/hero-triangle.svg");
  background-position: 50% bottom;
  background-repeat: no-repeat;
  display: block;
  height: 57px;
}
