@use "../globals/mixins.scss";
@use "../globals/variables.scss";

.location {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  background-image: url("../img/map-mobile.jpg");
  background-size: cover;
  background-color: #3f5e72;

  @include mixins.retina {
    background-image: url("../img/map-mobile@2x.jpg");
    background-size: 320px auto;
  }

  @include mixins.tablet {
    margin-bottom: 0;
    background-image: url("../img/map-tablet.jpg");
    background-size: cover;
    background-color: #3f5e72;

    @include mixins.retina {
      background-image: url("../img/map-tablet@2x.jpg");
      background-size: 768px auto;
    }
  }

  @include mixins.desktop {
    margin-bottom: 0;
    background-image: url("../img/map-desktop.jpg");
    background-size: cover;
    background-color: #3f5e72;

    @include mixins.retina {
      background-image: url("../img/map-desktop@2x.jpg");
      background-size: 1200px auto;
    }
  }
}

.location iframe {
  display: block;
  width: 100%;
}
