@use "../globals/variables.scss";
@use "../globals/mixins.scss";

.navigation {
  position: relative;
  z-index: 2;
}

.navigation--closed .navigation__toggle {
  &::before {
    content: "";
    background-image: url("../img/burger-menu.svg");
    display: block;
    height: 22px;
    width: 22px;
  }

  &:hover::before {
    opacity: 0.6;
  }

  &:active::before {
    opacity: 0.3;
  }
}

.navigation--opened .navigation__toggle {
  &::before {
    content: "";
    background-image: url("../img/close-menu.svg");
    display: block;
    height: 22px;
    width: 22px;
  }

  &:hover::before {
    opacity: 0.6;
  }

  &:active::before {
    opacity: 0.3;
  }
}

.navigation--closed .navigation__item {
  @include mixins.mobile-only {
    display: none;
  }
}

.navigation--opened .navigation__link {
  @include mixins.mobile-only {
    padding-left: 45px;
    padding-right: 45px;
  }
}

.navigation--nojs .navigation__toggle {
  @include mixins.mobile-only {
    display: none;
  }
}

.navigation--nojs .navigation__list {
  @include mixins.mobile-only {
    position: static;
    min-height: 0;
  }
}

.navigation--nojs .navigation__item {
  @include mixins.mobile-only {
    display: block;
  }
}

.navigation__toggle {
  position: absolute;
  padding: 0;
  top: 17px;
  right: 20px;
  z-index: 3;
  width: 22px;
  height: 22px;
  cursor: pointer;
  border: none;
  background-color: transparent;

  @include mixins.tablet {
    display: none;
  }
}

.navigation__list {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  list-style: none;

  @include mixins.mobile-only {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
    background-color: variables.$primary-color;
  }

  @include mixins.tablet {
    position: static;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: variables.$color-text-accent;
  }
}

.navigation__list::before {
  @include mixins.mobile-only {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    height: 7px;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  }
}

.navigation__item {
  &:not(:first-child) {
    border-top: solid 1px rgba(255, 255, 255, 0.2);

    @include mixins.tablet {
      border-top: none;
    }
  }

  &:not(:last-child) {
    border-bottom: solid 1px rgba(1, 1, 1, 0.2);

    @include mixins.tablet {
      border-bottom: none;
    }
  }
}

.navigation__item:nth-child(4n+3) {
  @include mixins.tablet {
    grid-column: 4/5;
  }
}

.navigation__link {
  display: block;
  padding: 17px 17px 12px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: variables.$color-text-accent;
  text-transform: uppercase;
  text-decoration: none;

  @include mixins.tablet {
    padding-top: 18px;
    padding-bottom: 17px;
    font-size: 14px;
    line-height: 21px;
    color: variables.$color-text-secondary;
  }

  @include mixins.mobile-only {
    &:hover {
      background-color: #669ec0;
    }

    &:active {
      background-color: #5496bd;
      color: rgba(255, 255, 255, 0.3);
    }
  }
}

.navigation__link[href] {
  @include mixins.tablet {
    &:hover {
      color: variables.$primary-color;
    }

    &:active {
      color: variables.$color-text-secondary;
      opacity: 0.3;
    }
  }
}

.navigation__link[aria-current="page"] {
  @include mixins.tablet {
    color: #766357;
  }
}
