$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-only-width: 767px;

$color-text-primary: #333333;
$color-text-secondary: #000000;
$color-text-active: #766357;
$color-text-accent: #ffffff;

$primary-color: #81b3d2;
$secondary-color: #f2f2f2;
$opacity-color: rgba($color-text-secondary, 30%);
$icon-form-color: #010101;
