@use "./globals/variables.scss";
@use "./globals/globals.scss";
@use "./globals/mixins.scss";
@use "./globals/fonts.scss";
@use "./blocks/visually-hidden.scss";
@use "./blocks/main-container.scss";
@use "./blocks/advantage-city.scss";
@use "./blocks/advantage.scss";
@use "./blocks/advantages.scss";
@use "./blocks/panorama.scss";
@use "./blocks/button.scss";
@use "./blocks/checkbox-control.scss";
@use "./blocks/copyright.scss";
@use "./blocks/feedback-form.scss";
@use "./blocks/feedback.scss";
@use "./blocks/form-group.scss";
@use "./blocks/gallery-post.scss";
@use "./blocks/gallery.scss";
@use "./blocks/hashtag.scss";
@use "./blocks/heading.scss";
@use "./blocks/hero.scss";
@use "./blocks/like.scss";
@use "./blocks/logo.scss";
@use "./blocks/main-footer.scss";
@use "./blocks/main-header.scss";
@use "./blocks/navigation.scss";
@use "./blocks/page.scss";
@use "./blocks/presentation.scss";
@use "./blocks/radio-control.scss";
@use "./blocks/search.scss";
@use "./blocks/social.scss";
@use "./blocks/text-control.scss";
@use "./blocks/error.scss";
@use "./blocks/approve.scss";
@use "./blocks/location.scss";
@use "./blocks/modal-container.scss";
